// 文字顏色
$black:#1E2022;
$dark-gray: #52616B;
$light-gray:#c9d6df;
$white: #F0F5F9;
$red: #D72323;
$light:#F3DE8A;
$text-color:#808080;
$navItem: #808080;

// Font-Family
// @font-face {
//   font-family: 'seto';
//   src: 
//     url('./assets/fonts/setofont-ex.woff') format("woff"),
//     url('./assets/fonts/setofont-ex.ttf') format("truetype");
// }