// 文字顏色
$black:#1E2022;
$dark-gray: #52616B;
$light-gray:#c9d6df;
$white: #F0F5F9;
$red: #D72323;
//背景圖片
// $desktop-bg-img:url(../header_desktop.png);
// $mobile-bg-img:url(../asset/img/header_mobile.png);